*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: sans-serif;
  font-weight: 400;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #00bcd4;
  --color-secondary: #f44336;

  --color-grey-light: hsl(0, 0%, 94%);
}
#container {
  padding: 1rem;
}

.heading-1 {
  font-size: 3.4rem;
}

.heading-1 a {
  text-decoration: none;
  color: var(--color-black);
  transition: all 0.3s ease-in-out;
}

.header {
  background-color: var(--color-primary);
  padding: 1rem;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav__item {
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--color-black);
  text-decoration: none;

  transition: all 0.3s ease-in-out;
}

.nav__item:hover,
.heading-1 a:hover {
  color: var(--color-secondary);
}

/* News styling */
.main {
  padding: 1rem;
}

.news-page-heading {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.news-list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.news-list > :first-child img {
  width: 50vw;
  height: auto;
}

.news-list > :first-child h3 {
  font-size: 3.2rem;
}

.news-list > :first-child p {
  font-size: 2.2rem;
}

.news-item {
  display: flex;
  column-gap: 2rem;
  padding: 1rem;

  transition: all 0.3s ease-in-out;
}

.news-item:hover {
  background-color: var(--color-grey-light);
}

.news-item__img {
  width: 25vw;
  height: auto;
}

.news_item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news_item__content h3 {
  font-size: 2.5rem;
}

.news_item__content p {
  font-size: 2rem;
}

.news_item__content a {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
