<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block title %}
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title> Welcome to News XXIV</title>
    {% endif %}
    {% endblock title %}
</head>

<body>
    <div id="container">


        <header class="header">
            <h1 class="heading-1"> <a href="{{url_for('main.index')}} ">News XXIV</a>
            </h1>
            <nav class="nav">
                <a href="{{url_for('main.news', source='axios')}}"
                    class="nav__item">Axios</a>
                <a href="{{url_for('main.news', source='cnn')}}" class="nav__item">CNN</a>
                <a href="{{url_for('main.news', source='bbc-news')}}"
                    class="nav__item">BBC</a>
                <a href="{{url_for('main.news', source='the-hill')}}"
                    class="nav__item">The
                    Hill</a>
            </nav>
        </header>


        <main class="main">
            {% block content %}

            {% endblock content %}
        </main>

        {% block footer %}
        <footer class="footer">
            <!-- footer -->
        </footer>
        {% endblock footer %}

    </div>

</body>

</html>