{% import 'macros.html' as macro%}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title> Welcome to News XXIV</title>
    {% endif %}
</head>

<body>
    <h1>News app</h1>


    <h2>Techcrunch</h2>
    <ul>
        {{macro.displayNewsList(techcrunch)}}
    </ul>

    <h2>Cnn</h2>
    <ul>
        {{macro.displayNewsList(cnn)}}
    </ul>

    <h2>BBC</h2>
    <ul>
        {{macro.displayNewsList(bbc)}}
    </ul>
</body>

</html>